@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&display=swap");
.particulas {
  background-color: #000000;
  z-index: -1;
}
.particulas::before {
  display: block;
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
  opacity: 0.6;
  background-image: url(../img/fondo-m2.jpg);
}
@media all and (min-width: 768px) and (max-width: 817px){
  p {
    font-size: 2rem;
  }
}
@media all and (min-width: 812px) and (max-width: 900px){
  p {
    font-size: 2rem;
  }
}
@media all and (min-width: 900px) and (max-width: 1024px){
  p {
    font-size: 2rem;
  }
}
@media all and (min-width: 1025px)and (max-width: 1400px){	
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .particulas::before {
    background-image: url(../img/fondo-d.jpg);
  }
  
}

.contenedor-principal,
.contenedor-intro,
.contenedor-intro > div {
  min-height: 100vh;
  pointer-events: none;
}

.eventos {
  pointer-events: auto;
}

.bg-salmon {
  background-color: #d16a60 !important;
}

.text-salmon {
  color: #d16a60 !important;
}

.intro {
  padding: 3em;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 992px) {
  .intro {
    padding: 3em 6em;
  }
}
.intro h1 {
  font-size: 4em;
  margin-top: 0;
}
.intro h1,
.intro h2 {
  margin-bottom: 1em;
  font-weight: 300;
  color: #ffd079;
}
.intro h1 strong,
.intro h2 strong {
  font-weight: 900;
  color: #fff;
}