{#
/**
* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup themeable
*/
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
<button id="btnMenu" class="navbar-toggler collapsed menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/">
  <span class="logo "></span>
</a>
<button id="lupa" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="bi bi-search fs-5" aria-hidden="true"></i>
</button>
<button id="modal" class="btn bd-highlight" data-bs-toggle="modal" data-bs-target="#exampleModal" role="button">
  <i class="bi bi-question-circle-fill fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
</button>
<div id="nuevo">
  <div class="navbar-collapse collapse" id="navbarNav">
    {{ menus.menu_links(items, attributes, 0) }}
    {% macro menu_links(items, attributes, menu_level) %}
      {% import _self as menus %}
      <ul class="row navbar-nav">
        {% for item in items %}
          <li class="{{ item.content.field_clases.0 }}">
            {{ link(item.title, item.url) }}
          </li>
        {% endfor %}
      </ul>
    {% endmacro %}
  </div>
</div>

