<!--botones flotantes-->
<div class="flotantes">
        <div class="botones">
            <input type="checkbox" id="botones" style="display: none;">
            <ul class="ocultos">
                <li class="texto">
                    <i class="icono icon-comunication"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Productos de comunicaciones</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                     <i class="icono icon-quienes-hicieron"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">¿Cómo y con quien lo hicimos?</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                    <i class="icono icon-pdf-download"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Descargar cápitulo PDF</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                    <i class="icono icon-descargar-off"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Descargar cápitulo PDF</p>
                        </a>
                    </span>
                </li>
                <li class="texto" id="Poopover">
                     <i class="icono icon-descargable"></i>
                      <span>                     
                            <a  tabindex="0" 
                                role="button" 
                                data-bs-toggle="popover" 
                                data-bs-trigger="manual"
                                data-bs-html="true" 
                                title="Descargue su contenido en:"
                                data-bs-placement="bottom"
                                data-bs-content='
                                <div class="container containerpopover">
                                    <div class="row">
                                        <div clas="col-12">
                                            <a id="altacalidad" class="list-group-item list-group-item-action enlacepopover">PrimaryCalidad alta .zip (80mb)</a>
                                            <a id="media" class="list-group-item list-group-item-action enlacepopover">Calidad media .pdf (40mb)</a>
                                            <a id="baja" class="list-group-item list-group-item-action enlacepopover">Calidad baja .mov (20mb)</a>
                                        </div>
                                    </div>
                                </div>
                                '>
                                 <p class="leyenda">Descargables</p>
                            </a> 
                        </span>              
                </li>
                <li class="texto">
                    <i class="icono icon-archivo"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Anexos</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                    <i class="icono icon-otras-lenguas"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Otras lenguas e idiomas</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                    <i class="icono icon-accesibilidad"></i>
                    <span>
                        <a href="#">
                            <p class="leyenda">Accesibilidad</p>
                        </a>
                    </span>
                </li>
                <li class="texto">
                    <i class="icono icon-compartir"></i>
                    <span class="multiples">
                        <div class="leyenda">
                            <div class="x-share-button open">
                                <div class="share-items-wrapper">
                                    <div class="share-items">
                                        <p class="leyenda">Compartir</p>
                                        <a href="https://facebook.com" target="_blank" class="share-item" title="Compartir en Facebook">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                        <a href="https://instagram.com" target="_blank" class="share-item" title="Compartir en Twitter">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                        <a href="#" target="_blank" class="share-item">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </span>
                </li>
            </ul>
            <ul class="visibles">
                <li class="texto">
                    <i class="icono icon-a-vivavoz"></i>
                    <span>
                        <a href="/a-viva-voz?id={{tid}}">
                            <p class="leyenda">A viva voz</p>
                        </a>
                    </span>
                </li>
                <label for="botones">
                    <li class="texto">
                        <img src="/themes/custom/cevtheme/botonera/img/ico11-puntos.svg" alt="puntos">
                    </li>
                </label>
            </ul>
        </div>
    </div>