/* Hide scrollbar for Chrome, Safari and Opera */
.nna::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nna {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.nna a {
	color: #3ebcf5;
	text-decoration: none;
}

.nna a:hover {
	color: #88d9ff;
	text-decoration: none;
}

.nna h1 {
	font-family: Obliqua;
	font-weight: 500;
	color: #EBC44A;
	font-size: calc(1em + 1vw);
	font-style: italic;
}

.nna h2 {
	font-family: Obliqua;
	font-weight: lighter;
	color: #EBC44A;
	font-size: calc(0.7em + 1vw);
	font-style: italic;
}

.nna h3 {
	font-family: Obliqua;
	font-weight: normal;
	color: #3FC2FB;
	font-size: calc(0.5em + 1vw);
}

.nna h4 {
	font-family: Obliqua;
	font-weight: normal;
	color: #EBC44A;
	text-align: center;
	font-size: calc(0.5em + 1vw);
}

.nna h5 {
	font-family: Obliqua;
	font-weight: normal;
	color: #EBC44A;
	opacity: 0.85;
}

.nna p {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #EEECED;
	font-size: calc(0.2em + 0.9vw);
}

.nna .divcenter {
	z-index: 100;
	top: 13vh;
	position: absolute;
	width: 90%;
	opacity: .8;
	left: 5%;
}

.nna .miga {
	font-family: Obliqua Sans;
	font-weight: normal;
	font-size: calc(0.1em + 1vw);
	color: #3FC2FB;
	top: 90px;
	font-style: none;
}

.nna .miga:hover {
	color: #88d9ff;
}

.nna .nnaTitulo {
	width: 90%;
	position: absolute;
	top: 30px;
	margin-top: 10px;
	font-weight: bold;
}


.nna .nnaSubtitulo {
	width: 90%;
	position: absolute;
	top: 65px;
	margin-top: 10px;
}


.nna .tags,
.nna .tags a {
	text-decoration: none;
	color: #39c0ed;
	font-size: 0.8rem;
}

.nna .tags a:hover {
	text-decoration: none;
	color: #88d9ff;
}


.nna .tags {
	margin-bottom: 10px;
	margin-top: 10px;
}



@media screen and (max-width: 480px) {}



@media screen and (max-width: 768px) {


	.nna .miga {
		font-size: 11px;
	}

	.nna .divcenter {
		top: 15vh;

	}

	.nna .tags,
	.nna .tags a {
		font-size: 0.6rem;
	}

	.nna .nnaSubtitulo {
		top: 55px;

	}

	.nna p {
		font-size: 10px;
	}


}



/* 1920 x 1080  */

@media (min-width: 1920px) {
	.nna .nnaSubtitulo {
		width: 90%;
		position: absolute;
		top: 75px;
		margin-top: 10px;
	}


}


/* Contraste  */



.contraste  .nna a {
	color: #6c6c6c;
	text-decoration: underline;
}

.contraste .nna a:hover {
	color: #6c6c6c;
	text-decoration: underline;
}

.contraste .nna h1 {
	color: black;
}

.contraste .nna h2 {
	color: black;
}

.contraste .nna h3 {
	color: black;
}

.contraste .nna h4 {
	color: black;

}

.contraste .nna h5 {
	color: black;
}

.contraste .nna p {
	color: black;
}

.contraste .nna .divcenter {
	color: black;
}

.contraste .nna .miga {
	color: black;
	text-decoration: underline;
}

.contraste .nna .miga:hover {
	color: black;
	text-decoration: underline;
}

.contraste .nna .nnaTitulo {
	color: black;
}


.contraste .nna .nnaSubtitulo {
	color: black;
}


.contraste .nna .tags,
.contraste .nna .tags a {
	text-decoration: underline;
	color: black;
}

.contraste .nna .tags a:hover {
	text-decoration: underline;
	color: black;
}


.contraste .nna .tags {
	text-decoration: underline;
	color: black;
}

